@use '../abstracts' as *;

/* ------------ Flickity Slider - Setup  ------------ */
[data-flickity-status="active"] [data-flickity-list]::after {
  content: "flickity";
  display: none;
}

[data-flickity-status="active"] [data-flickity-list] {
  display: block;
}

[data-flickity-list] .flickity-viewport {
  overflow: visible;
  width: 100%;
}

[data-flickity-control][disabled] {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.flickity-enabled:focus {
  outline: none !important;
}

[data-flickity-dot="active"] {
  background-color: #131313;
}

/* ------------ Flickity Slider - Cards  ------------ */

/* Desktop */
@media screen and (min-width: 992px) {
  [data-flickity-type="cases"] {
    --flick-col: 2;
    --flick-gap: 2em;
  }

  /* Turn Flickity OFF & Hide Controls */
  [data-flickity-type="cases"]:is([data-flickity-count="1"], [data-flickity-count="2"], [data-flickity-count="3"]) [data-flickity-list]::after {
    content: "";
    display: block;
  }

  [data-flickity-type="cases"]:is([data-flickity-count="1"], [data-flickity-count="2"], [data-flickity-count="3"]) [data-flickity-list] {
    display: flex;
  }

  [data-flickity-type="cases"]:is([data-flickity-count="1"], [data-flickity-count="2"], [data-flickity-count="3"]) [data-flickity-controls] {
    display: none;
  }

  [data-flickity-type="cases"] [data-flickity-dot]:nth-last-child(-n+2) {
    display: none;
  }

  /* Hide last two dots */
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  [data-flickity-type="cases"] {
    --flick-col: 2.5;
    --flick-gap: 1.5em;
  }

  /* Turn Flickity OFF & Hide Controls */
  [data-flickity-type="cases"]:is([data-flickity-count="1"], [data-flickity-count="2"]) [data-flickity-list]::after {
    content: "";
    display: block;
  }

  [data-flickity-type="cases"]:is([data-flickity-count="1"], [data-flickity-count="2"]) [data-flickity-list] {
    display: flex;
  }

  [data-flickity-type="cases"]:is([data-flickity-count="1"], [data-flickity-count="2"]) [data-flickity-controls] {
    display: none;
  }

  [data-flickity-type="cases"] [data-flickity-dot]:nth-last-child(1) {
    display: none;
  }

  /* Hide last dot */
}

/* Mobile */
@media screen and (max-width: 767px) {
  [data-flickity-type="cases"] {
    --flick-col: 1.5;
    --flick-gap: 1em;
  }

  /* Turn Flickity OFF & Hide Controls */
  [data-flickity-type="cases"]:is([data-flickity-count="1"]) [data-flickity-list]::after {
    content: "";
    display: block;
  }

  [data-flickity-type="cases"]:is([data-flickity-count="1"]) [data-flickity-list] {
    display: flex;
  }

  [data-flickity-type="cases"]:is([data-flickity-count="1"]) [data-flickity-controls] {
    display: none;
  }
}