@use '../abstracts' as *;

.h1-animated {
  position: relative;
}

.icon {
  position: relative;
  display: inline-block;
  width: 4.1rem;
  aspect-ratio: 1;
  overflow: visible;

  &.icon-folder {
    margin-right: -1rem;
    margin-left: -.5rem;
    transform: translateY(1.25rem);
    cursor: pointer;
  }

  &.icon-coin {
    width: 1ch;
  }

  &.icon-joystick {
    margin-right: -1.5rem;
    margin-left: -1.2rem;
    width: 4.3rem;
    transform: translateY(1.3rem);
    // cursor: pointer;
  }

  img,
  div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  [data-icon-type='coin'] {
    width: 4rem;
    max-width: none;
    z-index: 5;
  }
}

.layout1_bg-gradient.is-tablet {
  @include gradient-card();

}

.layout1_bg-blur.is-tablet {
  @include gradient-card($filter: true);
  // opacity: .5;
}