@use '../abstracts' as *;

.h1-animated {
  position: relative;
}

.icon {
  position: relative;
  display: inline-block;
  width: 4.1rem;
  aspect-ratio: 1;
  overflow: visible;

  &.icon-folder {
    margin-right: -.5ch;
    margin-left: -.25ch;
    transform: translateY(.5ch);
    width: 2.4ch;
    cursor: pointer;
  }

  &.icon-coin {
    width: 1ch;
  }

  &.icon-joystick {
    margin-right: -.6ch;
    margin-left: -.7rem;
    width: 2ch;
    transform: translateY(.5ch);
    // cursor: pointer;
  }

  img,
  div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  [data-icon-type='coin'] {
    width: 4rem;
    max-width: none;
    z-index: 5;
  }

  [data-icon-type='alian'],
  [data-icon-type='stik'],
  [data-icon-type='stick'] {
    transform: unset;
  }
}

// @include breakpoint("m-portrait") {
//   .icon.icon-joystick {
//     width: 2.2rem;
//   }
// }