$solarflare-base: #ee3b17;
$solarflare-tint1: #F47C64;
$solarflare-tint2: #F15C3E;
$solarflare-shade1: #C63113;
$solarflare-shade2: #662114;

$solarflare-subtlebg: #ee3b1713;
$black: #080A0C;
$white: #faf9f7;